nav {
  @include row();
  background: rgba(0,0,0,0.6);
  .logo {
    background: url("../../images/feather_box_logo_sm.svg") no-repeat;
    padding: 1px;
    width: 60px;
    height: 60px;
    @include media($medium-screen) {
      @include span-columns(3);
    }
  }
  .links {
    a {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid $white;
      margin: 1em 0;
      text-align: center;
      @include media($medium-screen) {
        margin: 1em;
      }
    }
    @include media($medium-screen) {
      li { display: inline-block;}
      ul { text-align: right;}
    }
  }
}
